.wrapper{
  .search{
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: center;
  }
  .card-wrapper{
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pagination-wrapper{
    position: relative;
    width: 100%;
  }
}